#users{
    border-collapse:collapse;
    background-color:darkgrey;
    
}
.outdoor{
    margin-left:200px;
}
#users td,#users th{
    border:1px solid #000000;
    padding :8px;
    width:150px;
    height:50px;
}
#users td:nth-child(even){background-color:#f2f2f2;}
  #users td:hover {
    background-color: #5e4c4c;
  }
#users th{
    padding-top:12px;
    padding-bottom:12px;
    text-align:left;
    background-color:burlywood;
    color:black;
}


