.counter-container span:not(.animated-counter){
    display:none;

}
.counter-container span.animated-counter{
    animation:count .4s ease-in-out;
}
@keyframes count{
    from{
        top: .2rem;
        right: -1.8rem;
        transform:rotate(120deg);
    }25%{
        top: -.2rem;
        right: -1.6rem;
        transform:rotate(80deg);
    }50%{
        top: -.4rem;
        right: -.6rem;
        transform:rotate(60deg);
    }75%{
        top: -.4rem;
        right: 0rem;
        transform:rotate(30deg);
    }to{
        top: .2rem;
        right: .3rem;
        transform:rotate(0deg);
    }
}
