
<div class="outdoor">
  <div class="thetable">
    
    <table id="users">
      <th *ngFor="let h of head">
        
      </th>
    
     <tbody id="users" *ngFor="let g of coustomers"  >
      
       <tr >
         
         <td id="blue">{{g.id}}</td><td>{{g.name}}</td><td>{{g.gender}}</td><td>{{g.product}}</td>
         <td [ngStyle]="{color:g.status==='buy'?'green':'red'}">{{g.status}}</td>
         <td [ngStyle]="{color:g.status==='buy'?'green':'red'}">{{g.total}}</td> 
         
       </tr>
     </tbody>
   </table>
      
     </div>
</div>
 
