.emailcontainer{
    width:500px;
    margin-left:300px;
}
.btnemail {
  background-color: red;
  border: 1px solid black;
  color: white;
  margin-left: 200px;
  width: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.btncall {
  background-color: green;
  border: 1px solid black;
  margin-left: 400px;
  color: white;
  width: 150px;
  margin-top:50px;
  margin-bottom:50px;
}
.send {
  background-color: cornflowerblue;
  color: white;
  margin-left: 20px;
  border-radius: 5px;
  width:100px;
}
.reset{
    background-color:indianred;
    color:white;
    margin-left:150px;
    border-radius:5px;
    width:100px;
}
textarea{
    background-color:navajowhite;
    color:mediumslateblue;
}
.emailcontainer input[type="email"]{
    width:80%;
    background-color:lightgoldenrodyellow;
    color:blue;
}
.signin a{
  text-decoration: underline;
  color:blue;
  margin-left:100px;
}
.signin{
  position:absolute;
  margin-left:600px;
  width:400px;
  height: 350px;
  background-color:gainsboro;
}
.signin input[type="email"],[type="password"],[type="text"]{
  width:350px;
}
.signin input{
  margin:20px 20px;
}

.confirmsign{
  background-color: goldenrod;
  color:white;
  margin:20px 20px;
}
.resetconfirm{
  background-color: lightcoral;
  color:white;
  margin-left:200px;
}
.newaccount input[type="email"],[type="password"],[type="text"]{
  margin:10px 10px;
  width:350px;

}
.newaccount input[type="date"]{
  margin:10px 10px;
}
.key{
  margin-left:10px;
}
.newaccount input[type="tel"]{
  width:250px;
  margin-left:10px;
}
.newaccount{
  width:400px;
  height: 450px;
  background-color: lightgreen;
  border:1px solid black;
  margin-left:100px;
}
.signin input[type="reset"]{
  margin-left:150px;
  background-color: red;
  color:aliceblue;
}
.signinsubmit{
  background-color: lightseagreen;
  color:white;
}
