<div class="filterbg">
  
  <input type="radio"  name="filter" value="all" [(ngModel)]="selectedbtn" (change)="onradiobtnchange()" />
  <span>{{'all('+all+')'}}</span>
  <input type="radio"  name="filter" value="bed" [(ngModel)]="selectedbtn" (change)="onradiobtnchange()" />
  <span>{{'bed('+bed+')'}}</span>
  <input type="radio" name="filter" value="sofa" [(ngModel)]="selectedbtn" (change)="onradiobtnchange()" />
  <span>{{'sofa('+sofa+')'}}</span>
  <input type="radio"  name="filter" value="chair" [(ngModel)]="selectedbtn" (change)="onradiobtnchange()" />
  <span>{{'chairs('+chair+')'}}</span>
  <input type="radio" name="filter" value="desk" [(ngModel)]="selectedbtn" (change)="onradiobtnchange()" />
  <span>{{'desk('+desk+')'}}</span>
  <input type="radio"  name="filter" value="chairdesk" [(ngModel)]="selectedbtn" (change)="onradiobtnchange()" />
  <span>{{'chairdesk('+chairdesk+')'}}</span>
  <input type="radio" name="filter" value="table" [(ngModel)]="selectedbtn" (change)="onradiobtnchange()" />
  <span>{{'table('+table+')'}}</span>
</div>
<div class="searchcontainer">
 
  <input type="text" class="searchvalue" placeholder="search" [(ngModel)]="enteredsearchvalue" (input)="onsearchchanged()" />
  
</div>
