.filter input {
  margin: 10px 10px;
 
}
.filterbg{
    font-size:20px;
    font-weight:800;
}
input[type="radio"]{
    accent-color:green;
}

.filter {
  background-color: darkorange;
  border: 1px solid black;
  width: 600px;
  height: auto;
}
.searchcontainer{
   margin-left:15rem;
}
.searchvalue{
    opacity:0.7;
    background-color:grey;
    color:red;
}
.searchvalue::placeholder{
    color:orange;
}
