.imgcontainer {
  width: 300px;
  height: 550px;
  background-color:burlywood;
  margin: 20px 15px;
  border: 1px solid black;
  float: left;
}
  .imgcontainer:hover {
    transform: scale(1.03);
    transition: 1s linear;
  }
.body {
  background-color: lightgoldenrodyellow;
  height: 3100px;
}
.disabledbuy{
    background-color:grey;
    color:black;
    border-radius:10px;
    margin-left:100px;
    opacity:0.7;
}
  .imgcontainer img {
    width: 260px;
    height: 250px;
    border: 1px solid black;
    margin: 16px 16px;
  }
  .thefilter{
      margin-left:400px;
  }
h3 {
  text-align: center;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

  h3::selection {
    color: red;
    background-color:lightcoral;
    font-weight: 900;
  }

.price {
  color: brown;
  font-weight: 900;
  margin-left:50%;
}

.imgcontainer b, a, p {
  margin-left: 10px;
}
.buy {
  background-color: green;
  color: white;
  border-radius: 10px;
  margin-left: 160px;
  position: absolute;
  
}
.itemnumber{
    background-color:lightcoral;
    color:crimson;
    margin-left:10px;
    position:absolute;
    width:130px;
}
.click {
  position: absolute;
}

.imgcmts {
  border-top: 2px solid black;
}

