<app-ads></app-ads>
<div class="body">

  <h1 align="center">Furniture home</h1><br />

  <app-product [hidden]="hiddenproduct">
    <img src="./assets/table$394.jpg" class="img1" />
    <h5 align="center" class="titleproduct">Table</h5>
    <b class="price" id="green">$394</b>
  </app-product><app-product [hidden]="hiddenproduct2">
    <img src="./assets/chairtableoutdoor$2639.jfif" class="img1" />
    <h5 align="center" class="titleproduct">Table and chairs</h5>
    <b class="price" id="red">$2,639</b>
  </app-product>
  <app-product [hidden]="hiddenproduct3">
    <img src="./assets/chairtable$863.jpg" class="img1" />
    <h5 align="center" class="titleproduct">chairs</h5>
    <b class="price" id="green">$863</b>
  </app-product>
  <div class="imghover">
    <div class="title">
      <a class="link">Tables </a><br />
    </div>
    <div class="tableimg">
      <img src="./assets/table$394.jpg" (click)="showproduct()" />
      <img src="./assets/chairtableoutdoor$2639.jfif" (click)="showproduct2()" />
      <img src="./assets/chairtable$863.jpg" (click)="showproduct3()" />
    </div>
    <div class="title">
      <br />
      <a class="link">sofa </a><br />
    </div>
    <div class="tableimg">
      <img src="./assets/sofatableoutdoor$783-60.jpg" />
      <img src="./assets/sofatableoutdoor$897-99.jpg" /><img src="./assets/sofatableoutdoorgrey$1099.jpg" />
    </div>
    <div class="title">
      <br />
      <a class="link">desk </a><br />
    </div>
    <div class="tableimg">
      <img src="./assets/deskbrown$11533.jpg" />
      <img src="./assets/deskbrown$13500.jpg" /><img src="./assets/deskdarkbrown$26440.jpg" />
    </div><br /><br />
    <div class="link">
      <a class="google" href="http://www.google.com">Google</a><a class="facebook" href="http://www.facebook.com">Facebook</a>
    </div>
    <div class="foot">
      <h3 align="center">Thank you</h3>
    </div>
  </div>
</div>

